<section id="location" class="location-section">
    <a class="location-title">Localização</a>

    <div class="location-tabs">
        <button (click)="selectLocation('church')" [class.active]="selectedLocation === 'church'">Igreja</button>
        <button (click)="selectLocation('salon')" [class.active]="selectedLocation === 'salon'">Salão</button>
    </div>

    <div class="location-content">
        <div id="map" class="map-container"></div>
    </div>

    <p class="location-description">
        Clique <i class="fas fa-arrow-down " style="cursor: pointer; color: var(--terracotta);"></i> para ver a localização no Google Maps.<br>
        <a class="location-address" href="{{ locations[selectedLocation].maps }}" target="_blank" rel="noopener noreferrer">
            {{ locations[selectedLocation].address }}
        </a>
    </p>
</section>
