.location-section {
  padding: 2rem;
  background: var(--olive);
  text-align: center;
  display: flex;
  flex-direction: column;

  .location-tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    gap: 1rem;

    button {
      background: var(--cream);
      border-color: var(--golden);
      padding: 0.5rem 1.5rem;
      border-radius: 5px;
      font-weight: bold;color: var(--olive);
      height: 1.5rem;
      width: 8rem;
      align-items: center;
      justify-content: center;
      display: flex;
      margin-top: 10px;
      cursor: pointer;
      &.active {
        background: var(--golden);
        color: var(--olive);
      }
    }
  }

  .map-container {
    max-width: 850px;
    min-height: 500px;
    border-radius: 5px;
    margin: 0 auto;
    border: 1px solid var(--golden);
  }
}

.location-title{
  font-size: 3.5rem;
  color: var(--golden);
  text-decoration: none;
}

.location-address {
  font-size: 1.3rem;
  color: var(--golden);
  font-style: italic;
}

.location-description {
  font-size: 1rem;
  color: var(--golden);
  margin-top: 10px;
}