.location-section {
  padding: 2rem;
  background: var(--olive);
  text-align: center;
  display: flex;
  flex-direction: column;

  .location-tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    gap: 1rem;

    button {
      background: var(--cream);
      border-color: var(--terracotta);
      padding: 0.5rem 1.5rem;
      border-radius: 5px;
      font-weight: bold;color: var(--olive);
      height: 1.5rem;
      width: 8rem;
      align-items: center;
      justify-content: center;
      display: flex;
      margin-top: 10px;
      cursor: pointer;
      &.active {
        background: var(--terracotta);
        color: var(--olive);
      }
    }
  }

  .map-container {
    max-width: 850px;
    width: 100%;
    aspect-ratio: 16/9;
    border-radius: 5px;
    margin: 0 auto;
    border: 1px solid var(--terracotta);
    overflow: hidden;

    iframe {
      width: 100%;
      height: 100%;
      border: 0;
      display: block;
    }
}
}

.location-title{
  font-size: clamp(2rem, 6vw, 3.5rem);
  color: var(--cream);
  text-decoration: none;
}

.location-address {
  font-size: 1.3rem;
  color: var(--cream);
  font-style: italic;
}

.location-description {
  font-size: clamp(0.9rem, 2.5vw, 1rem);
  color: var(--cream);
  margin-top: 30px;
}

@media (max-width: 768px) {
  .location-tabs {
    flex-wrap: wrap;
  }

  .map-container { width: 100%; }
}
