<app-navbar></app-navbar>

<main>
  <section id="home" class="home">
    <app-home></app-home>
  </section>

  <section id="our-story" class="our-story">
    <app-our-story></app-our-story>
  </section>

  <section id="gallery" class="gallery">
    <app-gallery></app-gallery>
  </section>

  <section id="gifts" class="gifts">
    <app-gifts></app-gifts>
  </section>

  <!-- <section id="homage" class="homage">
    <app-homage></app-homage>
  </section> -->
  
  <section id="location" class="location-section">
    <app-location></app-location>
  </section>

  <section id="rsvp" class="rsvp-section">
    <app-rsvp></app-rsvp>
  </section>

  <section id="recommendations" class="recommendations-section">
    <app-recommendations></app-recommendations>
  </section>

  <section id="countdown" class="countdown-section">
    <app-countdown></app-countdown>
  </section>
</main>

<!-- Tela de Autenticação (sobreposta) -->
<app-auth *ngIf="!auth.isAuthenticated()"></app-auth>
