.gifts-section {
  background-color: var(--cream);
  padding: 3rem 1rem;
  text-align: center;

  .gifts-title {
    font-size: clamp(2rem, 6vw, 3.5rem);
    color: var(--olive);
    margin-bottom: 2rem;
    text-decoration: none;
  }

  .tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    gap: 1rem;

    button {
      background: var(--cream);
      padding: 0.5rem 1.5rem;
      border-radius: 5px;
      font-weight: bold;
      color: var(--olive);
      border-color: var(--terracotta);
      height: 1.5rem;
      width: 8rem;
      align-items: center;
      justify-content: center;
      display: flex;
      margin-top: 10px;
      cursor: pointer;
      &.active {
        background: var(--terracotta);
        color: var(--olive);
      }
    }
  }

  .gift-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 0.5rem;
    max-width: 800px;
    margin: 0 auto;
  }

  .gift-card {
    background-color: var(--olive);
    color: var(--cream);
    border: 1px solid var(--terracotta);
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
    max-height: 350px;

    img {
      width: 100%;
      height: 200px;           /* fix height to enable cropping */
      object-fit: cover;       /* crop while preserving aspect */
      object-position: center 10%; /* center the subject */
      display: block;
      border-bottom: 1px solid var(--terracotta);
      margin-bottom: 5px;
    }

    button {
      margin-top: auto;
    }

    .description {
      font-style: italic;
      font-size: 1rem;
      margin-bottom: 0px;
    }

    .name {
      font-size: 1rem;
      margin: 10px 0 5px 0;
      height: 40px;
    }

    .value {
      font-size: 1rem;
      margin-bottom: 10px;
      margin-top: 5px;
    }

    button {
      background-color: var(--terracotta);
      color: var(--olive);
      padding: 0.5rem 1.5rem;
      border: 1px solid var(--terracotta);
      border-radius: 5px;
      font-weight: bold;
      cursor: pointer;
      transition: background-color 0.3s ease;
      margin-bottom: 5px;
      &:hover {
        background-color: #d6d6d6;
      }
    }
  }

  .gift-standard {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
  }

  @media (max-width: 768px) {
    .tabs {
      flex-wrap: wrap;
    }

    .gift-standard {
      flex-direction: column;
      align-items: center;
    }
  }
}
