<section id="rsvp" class="rsvp-section">
  <a class="rsvp-title">Confirmar presença</a>
  <div class="rsvp-container">
    <form class="rsvp-form">
      <div class="form-group">
        <label for="guestName">Nome*</label>
        <input id="guestName" class="select-input" type="text" [value]="searchText" (input)="onSearchInput($event)"
          (focus)="showGuestSuggestions = true" (blur)="onGuestInputBlur()" placeholder="Digite para buscar seu nome" autocomplete="off" />
        <div class="suggestions" *ngIf="showGuestSuggestions">
          <div class="suggestion-item" *ngFor="let guest of guestList" (click)="selectGuest(guest)">
            {{ guest.name }}
          </div>
          <div class="suggestion-empty" *ngIf="!loadingGuests && guestList.length === 0">Nenhum convidado encontrado
          </div>
          <div class="suggestion-loading" *ngIf="loadingGuests">Carregando...</div>
        </div>
      </div>

      <div class="form-group">
        <label for="phone" style="margin-top: 5px;">Telefone*</label>
        <input style="background-color: var(--cream); margin-top: 2px; border: 1px solid var(--terracotta);" type="tel"
          id="phone" name="phone" [(ngModel)]="phone" (input)="onPhoneInput($event)" inputmode="numeric" pattern="\\d*"
          maxlength="11" placeholder="Digite seu telefone" required />
      </div>

      <div class="form-group">
        <label for="email" style="margin-top: 5px;">Email*</label>
        <input style="background-color: var(--cream); margin-top: 2px; border: 1px solid var(--terracotta);" type="email"
          id="email" name="email" [(ngModel)]="email" placeholder="Digite seu email" required />
      </div>

      <button class="rsvp-button" type="button" (click)="submitRSVP()" style="margin-top: 10px;">
        {{ submitting ? 'Enviando...' : 'Confirmar Presença' }}
      </button>
    </form>

    <div *ngIf="selectedGuest && companions.length > 0" class="companions-box">
      <a class="companion-title">Acompanhantes</a>
      <div *ngFor="let companion of companions" class="companion-form">
        <p>{{ companion.name }}</p>
        <label>
          <input type="checkbox" [(ngModel)]="companion.isSelected" [ngModelOptions]="{ standalone: true }" /> Confirmar
          presença
        </label>
      </div>
    </div>
  </div>
  <p class="rsvp-footer-text">Caso seu nome não esteja nas opções, você já foi confirmado por alguém!</p>
</section>
<app-toast [message]="toastMessage" [visible]="toastVisible" [type]="toastType"></app-toast>
