<section id="countdown" class="countdown-section">
  <a class="countdown-title">Contagem Regressiva</a>
  <div class="countdown">
    <div class="countdown-box">
      <div #flipCard class="flip-card">
        <span class="number">{{ days }}</span>
      </div>
    </div>
    <div class="countdown-box">
      <div #flipCard class="flip-card">
        <span class="number">{{ hours }}</span>
      </div>
    </div>
    <div class="countdown-box">
      <div #flipCard class="flip-card">
        <span class="number">{{ minutes }}</span>
      </div>
    </div>
    <div class="countdown-box">
      <div #flipCard class="flip-card">
        <span class="number">{{ seconds }}</span>
      </div>
    </div>
  </div>
</section>
