<section id="rsvp" class="rsvp-section">
  <div class="rsvp-container">
    <form class="rsvp-form">
      <div class="form-group">
        <label for="guestName">Nome* (obrigatório)</label>
        <select
            [(ngModel)]="selectedGuest"
            (ngModelChange)="onGuestSelect()"
            [ngModelOptions]="{ standalone: true }"
            class="select-input"
            [disabled]="guestList.length === 0">
            <option *ngFor="let guest of guestList" [ngValue]="guest">
                {{ guest.name }}
            </option>
        </select>
      </div>

      <div class="form-group">
        <label for="phone">Telefone* (obrigatório)</label>
        <input style="background-color: var(--cream);" 
               type="tel" 
               id="phone" 
               name="phone" 
               [(ngModel)]="phone"
               placeholder="Digite seu telefone"
               required />
      </div>

      <div class="form-group">
        <label for="email">Email* (obrigatório)</label>
        <input style="background-color: var(--cream);" 
               type="email" 
               id="email" 
               name="email" 
               [(ngModel)]="email" 
               placeholder="Digite seu email"
               required />
      </div>
    </form>
    
    
    <div *ngIf="selectedGuest && selectedGuest.companions.length > 0" class="companions-box">
        <a class="companion-title">Acompanhantes</a>
        <div *ngFor="let companion of selectedGuest.companions" class="companion-form">
            <p>{{ companion.name }}</p>
            <label>
                <input type="radio" [name]="'companion-' + companion.id" [(ngModel)]="companion.response" [value]="'yes'" /> Irá
            </label>
            <label>
                <input type="radio" [name]="'companion-' + companion.id" [(ngModel)]="companion.response" [value]="'no'" /> Não irá
            </label>
        </div>
    </div>
    
    <button class="rsvp-button" [disabled]="!selectedGuest || !phone || !email">
      Confirmar Presença
    </button>
    
    <p class="rsvp-footer-text">Caso seu nome não esteja nas opções, você já foi confirmado por alguém!</p>
  </div>
</section>