.home {
  min-height: 95vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: url('/assets/images/home/arthur-dari-home-background.jpg');
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.8);
  background-blend-mode: darken; 
  background-position: center 40%;
  background-repeat: no-repeat;

  &__content {
    width: 100%;
  }
  
  &__brand {
    font-size: 4rem;
    color: var(--wood-brown);
    text-decoration: none;
  }

  &__quote {
    font-style: italic;
    font-size: clamp(1rem, 2.5vw, 1.25rem);
    color: var(--wood-brown);
    margin-bottom: 1rem;
  }


  .home__date-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.5rem 0;
    width: 100%;

    .home__date {
      padding: 0 1rem;
      font-size: 1.3rem;
      color: var(--wood-brown);
      white-space: nowrap;
      text-align: center;
    }

    &::before,
    &::after {
      content: "";
      flex: 1;
      height: 1px;
      background-color: var(--wood-brown);
      max-width: 200px;
    }

  }
}