<section id="recommendation" class="recommendation-section">
    <a class="recommendation-title">Recomendações</a>

    <div class="recommendation-tabs">
        <button (click)="selectRecommendation('hotel')" [class.active]="selectedrecommendation === 'hotel'">Hotéis</button>
        <button (click)="selectRecommendation('salon')" [class.active]="selectedrecommendation === 'salon'">Salões</button>
        <button (click)="selectRecommendation('male')" [class.active]="selectedrecommendation === 'male'">Masculino</button>
        <button (click)="selectRecommendation('female')" [class.active]="selectedrecommendation === 'female'">Feminino</button>
    </div>

    <div class="recommendation-content">
        <img [src]="recommendationImage" class="recommendation-image"/>
    </div>

    <p class="recommendation-description">
        {{ recommendations[selectedrecommendation].description }}
    </p>
</section>