.recommendation-section {
  padding: 2rem;
  background: var(--olive);
  text-align: center;
  display: flex;
  flex-direction: column;

  .recommendation-tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    gap: 1rem;

    button {
      background: var(--cream);
      border-color: var(--terracotta);
      padding: 0.5rem 1.5rem;
      border-radius: 5px;
      font-weight: bold;
      color: var(--olive);
      height: 1.5rem;
      width: 8rem;
      align-items: center;
      justify-content: center;
      display: flex;
      margin-top: 10px;
      cursor: pointer;
      &.active {
        background: var(--terracotta);
        color: var(--olive);
      }
    }
  }

}

.recommendation-title{
  font-size: clamp(2rem, 6vw, 3.5rem);
  color: var(--terracotta);
  text-decoration: none;
}

.recommendation-description {
  font-size: 1.3rem;
  color: var(--terracotta);
  font-style: italic;
}

.recommendation-image {
  width: 100%;
  max-width: 550px;
  object-fit: cover;
  border: 1px solid var(--terracotta);
  border-radius: 5px;
}
