api.casamento-darithur.com.br {
  encode zstd gzip
  # Backend API
  reverse_proxy /backend* backend:8085
  reverse_proxy /guests* backend:8085
  reverse_proxy /gift* backend:8085
  reverse_proxy /* backend:8085

  # Temporário/útil: expor Evolution API para onboarding (QR, status)
  handle_path /evolution/* {
    reverse_proxy evolution-api:8080
  }
}
