<nav class="navbar">
    <div class="navbar__container">
        <a class="navbar__brand" href="#">Dari & Arthur</a>

        <button class="navbar__toggle" aria-label="Abrir menu" (click)="toggleMenu()">
          &#9776;
        </button>

        <ul [class.active]="menuOpen" class="navbar__links">
            <li><a href="#home" (click)="closeMenu()">Principal</a></li>
            <li><a> | </a></li>
            <li><a href="#our-story" (click)="closeMenu()">Nossa história</a></li>
            <li><a> | </a></li>
            <li><a href="#gallery" (click)="closeMenu()">Galeria</a></li>
            <li><a> | </a></li>
            <!-- <li><a href="#homage" (click)="closeMenu()">Homenagem</a></li>
            <li><a> | </a></li> -->
            <li><a href="#gifts" (click)="closeMenu()">Presentes</a></li>
            <li><a> | </a></li>
            <li><a href="#location" (click)="closeMenu()">Localização</a></li>
            <li><a> | </a></li>
            <li><a href="#rsvp" (click)="closeMenu()">Confirmar presença</a></li>
            <li><a> | </a></li>
            <li><a href="#recommendations" (click)="closeMenu()">Recomendações</a></li>
            <li><a> | </a></li>
            <li><a href="#countdown" (click)="closeMenu()">Contagem regressiva</a></li>
            <li><a> | </a></li>
            <li><a href="#gifts" (click)="closeMenu()">Presentes</a></li>
        </ul>
    </div>
</nav>
